:root {
    --bg-default: linear-gradient(
        90deg,
        rgba(20,20,20,1) 0%,
        rgba(30,30,35,1) 25%,
        rgba(30,30,35,1) 75%,
        rgba(20,20,20,1) 100%
    );
    --txt-color-default: white;
    --txt-font-default: Verdana;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 16px;

    background: var(--bg-default);
    color: var(--txt-color-default);
    font-family: var(--txt-font-default);

    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    margin-top: 30px;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.content-list{
    display: flex;
    flex-direction: row;
    gap: 20px;

    flex-wrap: wrap;
}

.content-list > .content-item {
    padding: 10px;

    border: 3px solid #003252;
    border-radius: 10%;
    background-color: #004875;

    width: 120px;
    aspect-ratio: 4 / 3;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    text-decoration: none;
    color: var(--txt-color-default);
}

.content-list > .content-item img {
    height: 75%;
}