:root{
    --bg-default: linear-gradient(
        90deg,
        rgba(20,20,20,1) 0%,
        rgba(30,30,35,1) 25%,
        rgba(30,30,35,1) 75%,
        rgba(20,20,20,1) 100%
    );
    --txt-color-default: white;
    --txt-font-default: Verdana;
}

html, body{
    height: 100%;
}

body{
    margin: 0;
    
    background: var(--bg-default);
    color: var(--txt-color-default);
    font-family: var(--txt-font-default);

    display: flex;
    flex-direction: column;
    align-items: center;
}

header{
    max-width: 80%;
}